@use "variables" as *;
.featured-video_section {
	padding: clamp(1.5rem, 4vw, 3rem) 1rem;
}

.featured-video_section .heading-wrap {
	text-align: center;
}

.featured-video_section .tertiary-heading {
	display: inline-block;
	padding: 0 0 1rem;
	margin: 0 0 1rem;
	border-bottom: 3px dotted $mint;
}

.featured-video_section .wrap {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2rem;
}

.featured-video_section .figure {
	position: relative;
	z-index: 0;
}

.featured-video_section img {
	box-shadow: 0 1px 1px 1px rgba($color: $black, $alpha: 0.1);
}

.featured-video_section p {
	font-size: 1.25rem;
	line-height: 1.65;
}

.featured-video_section .cta-link {
	margin: 0;
}

@media (max-width: 960px) {
	.featured-video_section .wrap {
		grid-template-columns: 1fr;
		gap: 1rem;
	}

	.featured-video_section .cta-link {
		margin: 0.5rem 0;
	}
}
