@use "variables" as *;
.header {
	position: sticky;
	top: 0;
	width: 100%;
	padding: 0.5rem 1rem;
	background-image: linear-gradient(to right, $navy, $lt-navy, $navy);
	z-index: 1;
}

.skip-nav {
	.header & {
		position: fixed;
		top: 0;
		left: 50%;
		font-size: 0;
		background-color: $teal;
		transform: translateX(-50%);
		z-index: 1;

		a {
			display: block;
			color: $white;
		}

		&:focus-within {
			font-size: 1.25rem;

			a {
				padding: 0.5rem;
			}
		}
	}
}

.header_wrap {
	.header & {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		max-width: 75rem;
		margin: 0 auto;
	}
}

.primary-heading {
	.header & {
		display: block;
		margin: 0;
		padding: 0;
		font-size: clamp(1rem, 10vw, 3rem);
		font-weight: 400;
		color: $white;
		white-space: nowrap;

		a {
			display: block;
			color: $white;
			text-decoration: none;
		}

		svg {
			display: block;
			width: 3.5rem;
			height: 3.5rem;
			fill: $white;
		}
	}
}
