@use "variables" as *;
.three-content_section {
	padding: clamp(1.5rem, 4vw, 3rem) 1rem;
}

.three-content_section .heading-wrap {
	text-align: center;
}

.three-content_section .heading-wrap strong {
	color: $navy;
}

.three-content_section .heading-wrap p {
	max-width: 75ch;
	margin: 0 auto 2rem;
}

.three-content_section .wrap {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: flex-start;
	gap: 2rem;
}

.three-content_section .content-item p {
	position: relative;
	padding: 0 1.25rem;
	font-size: 1rem;
	line-height: 1.75;
}

.three-content_section .content-item p::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
	background: linear-gradient(to bottom, #1d506f 0%, #1d506f 25%, #44878c 25%, #44878c 50%, #89bfac 50%, #89bfac 75%, #d7cc8e 75%, #d7cc8e 100%);
}

.three-content_section .tertiary-heading {
	display: inline-block;
	line-height: 1;
	padding: 0 0 1rem;
	margin: 0 0 1rem;
	border-bottom: 3px dotted $mint;
}

.three-content_section .cta-link {
	display: block;
	max-width: 220px;
	text-align: center;
	margin: 3rem auto 0;
}

@media (max-width: 960px) {
	.three-content_section .wrap {
		grid-template-columns: 1fr;
		gap: 1rem;
	}

	.three-content_section .heading-wrap p {
		margin: 0 auto 1rem;
	}

	.three-content_section .cta-link {
		width: 100%;
		max-width: 100%;
		padding: 0.75rem;
		margin: 1rem auto 0;
	}
}
