@use "variables" as *;
.top-banner_hero {
	padding: 3rem 1rem;
	background-image: linear-gradient(to right, rgba($dk-teal, 0.9) 0%, rgba($dk-teal, 0.45) 75%, transparent 100%), url("images/low-poly-geometric.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.top-banner_hero .wrap {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 3rem;
}

.top-banner_hero p {
	color: $white;
	margin: 0;
}

.top-banner_hero a {
	text-decoration-color: $white;
	color: $white;
	transition: text-decoration-color 300ms ease-in-out;
}

.top-banner_hero a:focus,
.top-banner_hero a:hover,
.top-banner_hero a:active {
	text-decoration-color: transparent;
}

.top-banner_hero .secondary-heading {
	font-size: clamp(1.5rem, 8vw, 7rem);
	line-height: 1;
	color: $white;
	text-shadow: 2px 2px 1px rgba($color: $black, $alpha: 0.33);
}

.top-banner_hero .secondary-heading span {
	display: block;
}

.top-banner_hero .image-container {
	position: relative;
	z-index: 0;
	overflow: visible;
	box-shadow: 2px 2px 2px 1px rgba($color: $black, $alpha: 0.1);
}

.top-banner_hero .image-container::before {
	content: "";
	position: absolute;
	top: -0.65rem;
	left: -0.65rem;
	display: block;
	width: 100%;
	height: 100%;
	border: 2px solid $yellow;
	z-index: -1;
}

.top-banner_hero figcaption {
	margin-top: 1rem;
	font-size: 1.1rem;
	font-style: italic;
	line-height: 1;
	color: $white;
	text-shadow: 2px 2px 1px rgba($color: $black, $alpha: 0.33);
}

@media (max-width: 768px) {
	.top-banner_hero {
		padding: 1.5rem;
	}

	.top-banner_hero .wrap {
		grid-template-columns: 1fr;
		gap: 0;
	}

	.top-banner_hero .secondary-heading {
		margin: 0 0 1rem;
	}

	.top-banner_hero .secondary-heading span {
		display: inline;
	}

	.top-banner_hero p {
		margin: 0 0 0.75rem;
	}

	.top-banner_hero .image-container {
		width: 95%;
		margin: 1rem auto;
	}

	.top-banner_hero figcaption {
		text-align: center;
	}
}
