// sass --watch scss/styles.scss:styles.css --style compressed

/* Color Theme Swatches in Hex */
$navy: #1d506f;
$teal: #44878c;
$dk-teal: #134e52;
$lt-teal: #4e949a;
$green: #37736a;
$mint: #89bfac;
$yellow: #d7cc8e;
$dk-navy: #143a51;
$lt-navy: #29678e;

$white: #fff;
$black: #222;
$dk-gray: #4d4d4d;
$grayish: #aaa;
$gray: #eaeaea;
$lt-gray: #f8f8f8;
$links: #13599f;
$red: #d22b2b;

// Linear Gradient
// background-image: linear-gradient(to right, $lt-teal, $teal);

@mixin bold-section-heading {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 0.85rem;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	color: $dk-gray;
	margin-bottom: 1rem;
}
